@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --color-dr-blue: #002B5B;
  --color-dr-red: #D31F3B;
  --color-dr-gold: #EAB308;

  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* Base resets */
@layer base {
  body {
    @apply font-inter text-slate-900 bg-white antialiased m-0 p-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-outfit font-black tracking-tight;
  }
}

/* Custom layout fixes */
@layer utilities {
  .container-centered {
    @apply max-w-7xl mx-auto px-6;
  }
}